* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  background-color: #000000;
}

header h1 {
  color: #fff;
  text-transform: uppercase;
  margin-left: 30px;
  letter-spacing: 0.3em;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  margin: 40vh 0 0 0;
}

.comenzar2 {
  margin-top: 1em;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#fff,#6c6c6c45);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
}

.comenzar2:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

.comenzar2 a {
  text-decoration: none;
}

.sonido {
  display: block;
  overflow: auto;
  padding: 10%;
}

.contenido-sonido {
  text-align: center;
}

.contenido-sonido h2, p, button {
  margin: 0.5em;
}

.botones-sonido {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 20px;
}

.botones-sonido:hover {
  background-color: #0000001a;
}

.separador {
  margin: 5em;
}

.acerca {
  display: block;
  overflow: auto;
  display: grid;
  place-items: center;
  padding: 5%;
  background-color: #fafafa;
}

.acerca h2 {
  text-transform: uppercase;
}

.acerca>p {
  text-align: justify;
  margin: 2em;
  color: #000000;
}

.contacto {
  height: 100vh;
  padding: 10%;
}

footer {
  display: grid;
  place-items: center;
  height: 10vh;
  background-color: #000;
  color: #fff;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.nav-wrapper {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
  margin-right: 10vw;
}

.nav-title h1 {
  color: #000000;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: 100px repeat(auto-fill, 100px) 100px;
  justify-self: end;
}

.nav-item a {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #5c5c5c;
}

/* SECTIONS */

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */

@media only screen and (min-width: 768px) {
  .navbar {
    margin-right: 11vw;
  }
}

@media only screen and (min-width: 1400px) {
  .navbar {
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */

  .navbar {
    margin-right: 15vw;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li:first-child {
    margin-top: 50px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
    margin-right: 14vw;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .feature-container p {
    margin-bottom: 25px;
  }

  .feature-container {
    margin-top: 20px;
  }

  .feature-container:nth-child(2) {
    order: -1;
  }
}

/* ######## */
/* FLECHAS */
/* ######## */

.arrow {
  opacity: 0;
  margin-top: 45vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Botón flotante - inicio */

#button-top {
  display: inline-block;
  background-color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  -moz-transition: background-color .3s, opacity .5s, visibility .5s;
  -ms-transition: background-color .3s, opacity .5s, visibility .5s;
  -o-transition: background-color .3s, opacity .5s, visibility .5s;
}
#button-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 45px;
  color: #fff;
}
#button-top:hover {
  cursor: pointer;
  background-color: #333;
}
#button-top:active {
  background-color: #555;
}
#button-top.show {
  opacity: 1;
  visibility: visible;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.integrantes {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align:center;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
  align-items: center;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card img {
  width:100%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.type {
  text-align: center;
  color: #6a6a6a;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.name {
  margin-top: 0.7em;
  text-align: center;
}

.description {
  text-align: justify;
  margin: 1em 0 0 0;
}

.mail {
  margin: 1.5em 0 1em 0;
}

.mail a {
  color: #000;
  text-decoration: none;
}

.mail a:hover {
  color: #001687;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .row {
    width: 80%;
    display: block;
  }
}


.switch-lang {
  width: 80px;
  text-align: left;
  cursor: pointer;
  z-index: 50;
  position: absolute;
  top: 12px;
  right: 14px;
}

.switch-lang:hover .lang-dropdown {
  display: block;
}

.switcher-link {
  color: #fff;
}

.switcher-link:hover {
  color: #fff;
}

.current-lang {
  background: #ffffff;
  padding: 3px 5px 0px 5px;
  border-radius: 5px;
  color: #000;
  /* border: 1px solid #000; */
}

.lang-flag {
  width: 20px;
  display: inline-block;
}

.lang-text {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  margin-top: 1px;
}

.lang-text > a {
  text-decoration: none;
}

.lang-dropdown {
  display: none;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.selecting-lang {
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}

.selecting-lang > a{
  text-decoration: none;
}

.selecting-lang:hover {
  background: #e8e8e8;
  border-radius: 5px;
}

ul > :first-child {
  border-radius: 5px 5px 0px 0px;
}

ul > :last-child {
  border-radius: 0px 0px 5px 5px;
}

li {
  list-style-type: none;
}

.menu-arrow {
  display: inline-block;
  width: 10px;
  margin-left: 10px;
  vertical-align: top;
  margin-top: 6px;
}